.news-component {
    grid-area: news;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;
   
}

.news-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-heading h1 {
    margin-bottom: -15px;
}

.news-heading p {
    color: rgb(146, 146, 146);
}

.news-articles {
    height: 100%;
}

 .news-articles ul{
list-style-type: none;
padding-inline-start: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 70%;
}


.news-article {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
 }

 .article-title {
 font-size: 13px;
 font-weight: 800;
 }

 .article-meta {
     font-size: 12px;
     color: rgb(177, 174, 174);
     padding-top: 5px;
 }

 .article-meta p {
     margin-top: 2px;
 }

.news-img {
    width: 110px;
    height: 70px;
    padding-right: 15px;
}

.more-option {
    margin-top: -50px;
}