@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  /* background-color: #000; */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(241, 241, 241);
}

.app-main-container {
display: grid;
grid-template-columns: repeat(3, 4fr);
grid-template-rows: 350px 100px 400px; /* Adjust height of widgets*/
grid-template-areas: 
"news weather messages"
"news stocks stocks"
"calendar calendar calendar";

grid-gap: 25px;
margin: 25px 120px;
/* height: 400px; */

}

.news-component, 
.calendar-component, 
.weather-component, 
.messages-component,
.stocks-component {
  background-color: #fff;
  border-radius: 6px;
}

a {
  text-decoration: inherit;
  color: inherit;  
}
